<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!,{{todaydate}}
  </h1>
</div>
<div class="container">
<nav class="navbar navbar-inverse">
  
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink = "new-pg">pg</a></li>
      
      <li><a routerLink = "new-room">room</a></li>
      <li><a routerLink = "new-vkr">vkr</a></li>
      <li><a routerLink = "new-comforts">comforts</a></li>
    </ul>

</nav>
</div>
<br />
<br/>
<router-outlet></router-outlet>
